* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.part {
    padding: 40px;
    background: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png") no-repeat center center/cover;
    height: 400px;
    border-radius: 10px;
    text-align: center;
}

.part img {
    margin-top: 80px;
    max-width: 350px;
}

.part p {
    margin-top: 20px;
    font-size: 2rem;
    margin-bottom: 30px;
    color: white;
}

.part input {
    padding: 20px;
    width: 400px;
    height: 40px;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
}

.part i {
    background-color: white;
    font-size: 15px;
    align-content: center;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    width: 70px;
    height: 40px;
}

.header-section {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 15px;

}

.option {
    width: 350px;
    height: auto;
    border: 0.5px solid rgb(205, 204, 204);
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.option h3 {
    color: black;
    font-size: 22px;
    margin: 5px;
    right: 20px;
}

.option p {
    font-size: 1.1rem;
    color: #575656;
}

.option img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;

}

.option:hover {
    transform: scale(1.05);
}

/* .collections{
    margin-left: 20px;
} */

.collections h2 {
    color: #5c5c5c;
}

.collections p {
    margin-bottom: 30px;
    color: #666;
    font-size: 1rem;
}

.collection-grid {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.collection-item {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.collection-item img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.collection-info {
    color: white;
    margin-top: -60px;
    margin-left: 10px;
}

.collection-info h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #fffefe;
}

.collection-info p {
    font-size: 0.9rem;
    color: rgb(253, 249, 249);
}

.collection-item:hover {
    transform: scale(1.05);
}


.localities {
    max-width: 950px;
    margin: 10px auto;

}

.localities h2 {
    font-size: 30px;

}

.locality-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.locality-item {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.locality-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.locality-content p {
    color: #555;
}

.locality-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.locality-icon {
    font-size: 20px;
    color: #007bff;
    transition: transform 0.3s ease;
}

.locality-item:hover .locality-icon {
    transform: scale(10px);
}

.more-localities {
    margin-top: 20px;
}

.more-localities a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.more-localities a:hover {
    color: #0056b3;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
    background-color: #f9f9f9;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(8, 7, 7, 0.1);
    display: flex;
    align-items: center;
    gap: 30px;
    transition: transform 0.3s ease;
}

.content:hover {
    transform: scale(1.02);
}

/* Image Section Styling */
.image-section img {
    height: 500px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image-section img:hover {
    transform: scale(1.05);
}

/* Form Section Styling */
.form-section {
    max-width: 450px;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
    font-size: 1.125rem;
    color: #555;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input[type="radio"] {
    margin-right: 10px;
}

.input-group label {
    font-size: 1.125rem;
    color: #333;
    margin-right: 20px;
}

.input-group input[type="email"] {
    font-size: 1rem;
    width: calc(100% - 170px);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-btn {
    background-color: #0fc4ec;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.submit-btn:hover {
    background-color: #09a7cb;
}

/* Download Links Styling */
.download-links {
    display: flex;
    align-items: center;
    gap: 10px;

}

.download-links img {
    width: 140px;
    transition: transform 0.3s ease;
}

.download-links img:hover {
    transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image-section img {
        height: 300px;
    }

    h1 {
        font-size: 2rem;
    }

    p,
    .input-group label {
        font-size: 1rem;

    }

    .part input {
        padding: 20px;
        width: 300px;
        height: 40px;
        border: 1px solid #f9f9f9;
        border-radius: 5px;
    }

    /* .input-group input[type="email"] {
        width: 100%;
        margin-bottom: 10px;
    } */

    .download-links {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.75rem;
    }

    .input-group input[type="email"] {
        font-size: 0.875rem;
    }


    .submit-btn {
        font-size: 0.875rem;

    }

    .download-links img {
        width: 120px;
    }
}

@media (min-width: 768px) {

    .input-group input[type="email"] {
        width: 65%;
    }
}


.container-options {
    width: 99%;
    background-color: #fffdfd;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;


}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 100px;
}

.section {
    margin-bottom: 15px;
}

.section-title {
    display: flex;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #2e2d2d;
    padding: 10px;
    border-radius: 5px;
    background-color: #fffdfd;
    transition: background-color 0.3s;
}



.section-title i {
    transition: transform 0.3s;
}

.section-title.open i {
    transform: rotate(180deg);
}

.section-content {
    display: none;
    /* border: 1px solid rgb(200, 200, 200); */
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9rem;
    color: #fffdfd;
}

.section-content a {
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 10px;
    background-color: #f9f8f8;
    border-radius: 4px;
    color: #1c1c1c;
    text-decoration: none;
    transition: background-color 0.3s;
}

.section-content a:hover {
    background-color: #f6f6f6;
}

footer {
    background-color: #f8f8f8;
    padding: 30px;
    text-align: left;
    margin-top: 50px;
}

/* Footer Logo */
.footer-logo {
    text-align: start;
    margin-bottom: 15px;
}


.footer-logo img {
    max-width: 150px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-column {
    min-width: 200px;
    margin: 15px;
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-column h4 {
    margin-top: 20px;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-left: 80px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
}

.footer-column ul li a:hover {
    color: #0073e6;
}

/* 
  .social-links .social-icons a i {
    width: 30px;
    height: 30px;
    margin: 5px;
  } */

.social-links hr {
    display: none;
}

.social-links .app-links a img {
    width: 150px;
    height: auto;
}

.footer-note {
    text-align: center;
    font-size: 0.85em;
    color: #777;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: left;
        margin-left: 30px;
    }



    .footer-column {
        margin: 15px 0;
    }

    .footer-column h4 {
        margin-left: 140px;
    }

    .social-links .app-links a img {
        width: 140px;
        height: auto;
        align-items: center;
        margin-left: 40px;
    }

    .social-links hr {
        display: flex;
    }

}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.social-icons a {
    font-size: 2rem;
    /* Increase the icon size */
    color: #3d3d3d;
    /* Default icon color */
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: #0091b5;
    /* Change color on hover */
    transform: scale(1.3);
    /* Slightly enlarge on hover */
}

@media (max-width: 768px) {
    .social-icons {
        gap: 15px;
    }

    .social-icons a {
        font-size: 1.8rem;
        /* Smaller icon size on smaller screens */
    }
}

@media (max-width: 480px) {
    .social-icons {
        flex-direction: column;
        /* Stack icons vertically on very small screens */
        gap: 10px;
    }
}

.dropdown-select {
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(255, 250, 250);
    cursor: pointer;

}


/* Optional styling to add a custom arrow */
.dropdown-container {

    display: flex;
    justify-content: end;
    margin-top: -32px;
    gap: 10px;
}

.dropdown-container::after {
    transform: translateY(-50%);
    color: #333;
}

.signup-container {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .btn-close {
    width: 30px;
    border: none;
    background-color: #fff;
}

.signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.signup-container label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.signup-container .checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.signup-container .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.signup-container .checkbox-container a {
    color: #db4437;
    text-decoration: none;
}

.signup-container button {
    width: 100%;
    padding: 12px;
    background-color: #ddd;
    color: #555;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    transition: background-color 0.3s ease;
}

.signup-container button.enabled {
    background-color: #db4437;
    color: #fff;
    cursor: pointer;
}

.signup-container .google-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #555;
}

.signup-container .google-signup img {
    width: 20px;
    margin-right: 8px;
}

.signup-container p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.signup-container p a {
    color: #db4437;
    text-decoration: none;
}

/* Responsive */
@media (max-width: 480px) {
    .signup-container {
        padding: 15px;
    }
}